body{
  background-color: rgb(255, 238, 253);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.form{
  width: 500px;
  margin: auto;
  padding-top: 40px;
  
}

.card{
  box-sizing: 1px 1px 5px #ccc;
  background-color: white;
  padding: 30px;
  border-radius: 5px;
}

.card-top{
  text-align: center;
}

.card-top img{
  width: 60px;
}

.title{
  color: rgb(177 7 199);
}

.card-group{
  margin-bottom: 10px;
}
.card-group > label{
  width: 100%;
  color: rgb(75, 75, 75);
  display: block;
}

.card-group > input{
  border-radius: 5px;
  outline: 0;
  width: 100%;
  height: 20px;
  padding: 5px;
}

.card-group > button{
  background-image: linear-gradient(to right, rgb(199, 99, 199), rgb(177 7 199));
  width: 100%;
  border-radius: 30px;
  padding: 15px;
  color: white;
  border: 0px;
  outline: 0;
}

.btn button:hover{
  background-image: linear-gradient(to right, rgb(199, 99, 199), rgb(177 7 250));
}